<html>

<head>

</head>

<body>
   <div style="padding: 30px">
    <p>Notice that the first time you check each radio, it works fine. But when
        you continue clicking on radios, they stop working correctly.
    </p>
  
   <lion-radio-group name="dinos2" label="What are your favourite dinosaurs?">
    <lion-radio label="allosaurus" .choiceValue=${'allosaurus'}></lion-radio>
    <lion-radio label="brontosaurus" .choiceValue=${'brontosaurus'}></lion-radio>
    <lion-radio label="diplodocus" .choiceValue=${'diplodocus'}></lion-radio>
  </lion-radio-group>

 
</div>
</body>

</html>